<!DOCTYPE html>
<html>
    <head>
        <title>Likes</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <%- include('partials/header') %>
    <main>
    <h1>People You Like</h1>
    <ul>
        <% likes.forEach(r=>{ %><li><%= r.username %></li><% }) %>
      </ul>
    <p><a href="/">Back</a></p>
    </main>
</body>
</html>
