<!DOCTYPE html>
<html>
    <head>
        <title>Matches</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <%- include('partials/header') %>
    <main>
    <h2>Your Matches</h2>

    <% if (matches.length === 0) { %>
    <p>You have no matches yet 😢</p>
    <% } else { %>
    <ul>
        <% matches.forEach(m => { %>
        <li>
            <%= m.username %> |
            Email: <%= m.email %><br>
            <a href="/users/<%= m.id %>">View Profile</a>
        </li>
        <% }) %>
    </ul>
    <% } %>

    </main>
</body>
</html>
