<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <%- include('partials/header') %>
    <h2>Other Users</h2>
    <ul>
    <% users.forEach(u => { %>
        <li>
        <%= u.username %> |
        <a href="/users/<%= u.id %>">View Profile</a>
        </li>
    <% }) %>
    </ul>
</body>
</html>
